{% set content = htmlWebpackPlugin.options.content %}

<!DOCTYPE html>
<html lang="de" dir="ltr">
<head>
  <meta charset="utf-8">
    <title>{{content.meta.title}}</title>
</head>
<body>
  <h1>{{content.headline.welcome}}</h1>
</body>
</html>